doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://bossanova.uk/jexcel/v3/jexcel.js")
    link(rel="stylesheet", href="https://bossanova.uk/jexcel/v3/jexcel.css", type="text/css")
    script(src="https://bossanova.uk/jsuites/v2/jsuites.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    link(rel="stylesheet", href="https://bossanova.uk/jsuites/v2/jsuites.css", type="text/css")
  body
    block content
